body {
    width: 80%;
    margin: 50px auto;
}

div#newFirstDiv {
    width: 500px;
    margin-left: 20px;
    padding: 10px;
    font-family: 'Helvetica', sans-serif;
    background-color: lightblue;
    border: 2px solid black;

    -webkit-transition: width 5s linear;
    -moz-transition: width 5s linear;
    -o-transition: width 5s linear;
    transition: width 5s linear;
}

div#newFirstDiv.newDivLook {
    width: 300px;
    font-family: 'Times New Roman', serif;
    background-color: pink;
}