/*COLORS
Blue: #284f63;
Purple: #825084;
Pink: #992D5A;
Green: #188754;

/*


/************************************
Desktop version of site
************************************/
* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html {
    background-color: rgb(64,64,64);
}

body {
	width: 100%;
	max-width: 960px;
	height: 100%;
	margin: 0px auto;	
	font-family: helvetica, arial, sans-serif;
	position: relative;
	background-image: none;
	background-color: white;
}

p {
	font-size: 0.875em;
	line-height: 1.4;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover, img.closebox:hover {
	cursor: pointer;
}

span#noJSBackToTop {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 960px;
	padding: 5px 0px;
	text-align: center;
	background-color: #284f63;
	z-index: 5;

		a {
			padding: 5px 20px;
			font-weight: 200;
			color: #fff;
		}
}

header {
	position: relative;
	width: 100%;
	height: 162px;
	background-color: #284f63;
	z-index: 10;

		.header-logo {
			margin: 20px 27px; 
		}

		.main-navigation {
			float: left;
			position: relative;
			margin-top: 5px;
			margin-left: 36px;
			padding: 0px;
			list-style: none;
			font-size: 1em;
			font-weight: 300;
			z-index: 15;

				li {
					float: left;
					margin-right: 18px;
					padding: 10px 18px 0px 0px;
					background-color: #284f63;

						a {
							display: block;
							padding: 10px 0px;
							color: white;	
							text-decoration: none;
						}

				}
		}

		.main-navigation li.noJS:hover > ul {
			display: block;

				li:hover {
					background-color: #992D5A;
				}
		}

		.sub-navigation {
			clear: both;
			width: 143px;
			position: absolute;
			top: 50px;
			display: none;
			padding: 0px;
			margin-left: -6px;
			list-style: none;
			z-index: 20;
			background-color: #284f63;
			font-size: 0.875em;
			line-height: 1.5;

				li {
					width: 142px;
					margin-right: 0px;
					padding: 10px 0px 0px 5px;

						 a {
							display: block;
						}

				}

		}
}

img.intro-pic {
			width: 328px;
			position: absolute;
			top: 138px;
			right: 0px;
			z-index: 20;
		}

div.container {
	position: relative;
	width: 100%;
	padding: 0px 36px;
	z-index: 0;

		h1 {
			margin-top: 40px;
			font-weight: 700;
		}


/*If there's an introductory paragraph, this will style it*/
		.intro {
			height: 200px;
			margin-bottom: 10px;
		}

		.intro p {
			width: 575px;
			float: left;
			margin-top: 5px;
			font-size: 1.125em;
			line-height: 1.7;
		}

		p.disclaimer {
			font-style: italic;
		}


/*References section on all pages*/
		section.references {
			clear: both;
			width: 590px;
			margin: 30px auto;
			border-top: 0.5px solid #91989d;

				h6 {
					margin: 10px 0px 4px;
				}

				ol {
					margin: 0px;
					padding-left: 13px;

						li {
							font-size: 0.750em;
							font-style: oblique;
						}
				}

		}

}

/*Footer section is the same on all pages, isn't shown on homepage*/
footer {
	background-color: #825084;
	width: 960px;
	height: 76px;

		p.copyright {
			color: white;
			padding-top: 16px;
			margin-left: 36px;
			float: left;
		}

		div.socialMediaIcons {
			position: relative;
			float: right;
			margin-right: 36px;
			padding-top: 20px;
		}
}


/************************************
SciGirls Seven page
************************************/
#sciseven-list {
	height: 530px;
	margin-bottom: 25px;
}

.sciseven {
	width: 430px;
}

.sciseven-tip {
	font-weight: 700;
}

#sciseven-left-column {
	width: 458px;
	float: left;
	clear: none;
}

#sciseven-right-column {
	float: left;
	margin-bottom: 20px;
	clear: none;
}



/************************************
Role Models page
************************************/
section#roleModelFields {
	position: relative;
	width: 100%;
	height: 100%;
	padding-left: 25px;
	overflow: hidden;
	border-bottom: 1px dotted #91989d;	

		
		div.fieldList {
			float: left;
			width: 24%;
			margin-left: 6px;
			margin-bottom: 30px;
			font-size: 0.813em;
			line-height: 1.4;

				h2 {
					font-weight: 400;
					font-size: 1.5em;
					margin-bottom: 0px;
				}

				ul {
					list-style: none;
					padding-left: 0px;
					margin-top: 0px;
				}

				li {
					width: 100%;
					margin-left: -3px;
					padding-left: 3px;
					line-height: 1.8em;

						a {
							display: block;
						}
				}

		}

		div.fieldList.noJS a:hover {
			font-weight: 700;
			text-decoration: underline;
			color: #992D5A;
		}

		div.fieldList:first-of-type {
			margin-left: 0px;

				h2 {
					color: #284f63;	
				}
		}

		div.fieldList:nth-of-type(2) h2 {
				color: #188754;
			}

		div.fieldList:nth-of-type(3) h2 {
				color: #825084;
			}

		div.fieldList:last-of-type h2 {
				color: #992D5A;
			}
					
}



section#roleModelBiographies {
	width: 100%;
	height: auto;
	margin-top: 30px;

		div.noJSPadding {
			padding-top: 50px;

			h3 {
				text-decoration: none;
				margin-bottom: 100px;
			}
		}

		h2 {
			color: #284f63;
		}

		h3 {
			text-decoration: underline;
		}

		div.placeholder {
			display: none;
		}

		div.roleModelPhotos {
			float: left;
			width: 25%;
			max-width: 220px;
			margin-right: 20px;

				img {
					display: block;
					margin: 0px auto 25px;
				}
		}

		div.roleModelInfo {
			width: 70%;
			margin: 20px auto;
			-moz-column-count: 3;
		    -moz-column-gap: 6px;
		    -webkit-column-count: 3;
		    -webkit-column-gap : 8px;

		    	p {
					-webkit-hyphens: auto;
				  	-moz-hyphens: auto;
				  	-ms-hyphens: auto;
				  	hyphens: auto;
				}

				p:first-of-type {
					margin-top: 0px;
				}
		}

		div.references {
			clear: both;
			width: 590px;
			margin: 30px auto;
			border-top: 0.5px solid #91989d;

				h6 {
					margin: 10px 0px 4px;
				}

				ol {
					margin: 0px;
					padding-left: 13px;

						li {
							font-size: 0.750em;
							font-style: oblique;
						}

						a {
							text-decoration: underline;
							color: blue;
						}
				}

		}

}

